<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./style.css">
    <title>Image to PDF</title>
  </head>
  <body>
    <h1>Image to PDF</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="avatar" value="" />
      <button type="submit" name="button">Convert</button>
    </form>
  </body>
</html>
